/* CSS Variables */

:root {
   --primary-color: #039dfc;
   --secondary-color: #854fee;
   --title-color: #141313;
   --text-color: #777;
   --gradient-color: linear-gradient(
      to right,
      #1fa2ff 0%,
      #12d8fa 51%,
      #1fa2ff 100%
   );
   --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
   --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}
